{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>
        <title>WebSecure</title>
        <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    <body>

        {% block content %}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc4s9bIOgUxi8T/jzmRROeHKSmVMc7mAudn/jul+VcNt" crossorigin="anonymous"></script>
        <script src="{% static 'js/app.js' %}"></script>

    </body>

</html>
